$line-width: 3px;
$width: 350px;
$station-img-size :100px;
$main-color: #2f2f3a;
$second-color: #eeae61;
$third-color:#282832;
$img-color :white;
$volume-size:20px;
$extentionPadding:30px;
$plus-min-line-size: 2px;
div,
p {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 30px;
    background: $second-color;
    width: $width;
    height: 100px;
    border-radius: 24px 24px 0 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-transform: uppercase;
    height: 30px;
}

.arrow {
    border: solid $img-color;
    border-width: 0 $line-width $line-width 0;
    // padding: 10px;
    width: 30px;
     height:30px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.main {
    background: $main-color;
    width: $width;
    height: 400px;
    color: white;
    // overflow-y: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.particularStation {
    display: flex;
    flex-direction: column;
}

.shortcut {
    display: flex;
    margin: 30px;
    border-bottom: 1px solid white;
    justify-content: space-between;

    div {
        padding-bottom: 30px;
    }
}

.footer {
    background: $third-color;
    width: $width;
    height: 100px;
    border-radius: 0 0 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & :first-child{
        text-transform: uppercase;
        color: $second-color;
    }
}

.currentStationName {
    color: white;
}
// power

.power {
    // margin:200px;
    position: relative;
    width: 30px;
    height: 40px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: $line-width solid $img-color;
    border-top-color: transparent;
    position: relative;

    &:after,
    &:before {
        position: absolute;
        border-radius: 50%;
        width: $line-width;
        height: $line-width;
        background-color: $img-color;
        content: ' ';
    }

    &:after {
        right: 1px;
        top: 1px;
    }

    &:before {
        left: 1px;
        top: 1px;
    }
}

.line {
    border-left: $line-width solid $img-color;
    // margin: 0 auto;
    height: 10px;
    width: 0;
    position: absolute;
    top: -1px;
    left: 14px;

    &:after,
    &:before {
        position: absolute;
        border-radius: 50%;
        width: $line-width;
        height: $line-width;
        background-color: $img-color;
        content: ' ';
    }

    &:before {
        right: 0;
        top: -1px;
    }

    &:after {
        right: 0;
        bottom: -1px;
    }
}

.extended {
    width: $width;
    height: $station-img-size +2*$extentionPadding;
    display: flex;
    justify-content: space-between;
    padding:$extentionPadding;
    // background: pink;

}

.hidden {
    display: none;
}
%volume
{
    width: $volume-size;
    height: $volume-size;
    border-radius: 50%;
    border: 1px solid $img-color;
    align-self: center;
    position: relative;
}
@mixin operation-symbol($top, $left, $rot)
{
    width: 8px;
    height: 2px;
    background: $img-color;
    position: absolute;
    content: " ";
    top: $top;
    left: $left;
    transform: rotate($rot);
}
.minus
{
    @extend %volume;
    &:after {
    @include operation-symbol((($volume-size)-($plus-min-line-size))/2-1,5px,0);
    }
}
.plus
{
    @extend .minus;
    &::before{
        @include operation-symbol((($volume-size)-($plus-min-line-size))/2-1, 5px ,90deg);
    }
}


.stationImage
{
    width: $station-img-size;
    height: $station-img-size;
    background: pink;
    border-radius: 50%;
    border: 1px solid $img-color;


}
