# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Station/dist
/Station/tmp
/Station/out-tsc

# dependencies
/Station/node_modules

# IDEs and editors
/Station/.idea
/Station.project
/Station.classpath
/Station.c9/
/Station/*.launch
/Station/.settings/
/Station/*.sublime-workspace

# IDE - VSCode
/Station/.vscode/*
/Station/!.vscode/settings.json
/Station/!.vscode/tasks.json
/Station/!.vscode/launch.json
/Station/!.vscode/extensions.json

# misc
/Station/.sass-cache
/Station/connect.lock
/Station/coverage
/Station/libpeerconnection.log
/Station/npm-debug.log
/Station/testem.log
/Station/typings

# e2e
/Station/e2e/*.js
/Station/e2e/*.map

# System Files
/Station.DS_Store
/StationThumbs.db
